.banner {
    background-color: #C55394;
    height: 70px;
    width: 100%;
    position: relative;
}

.banner-title {
    position: relative;
    top: 10px; 
    left: 10px;
    margin: 0;
    color: #fff;
    font-family: 'Courgette', cursive;
}

.banner-sections {
    position: absolute;
    top: 0;
    right: 5px;
    bottom: 0;
    display: flex;
    flex-direction: row;
}

.banner-section {
    color: white;
    font-family: Arial, sans-serif;
    cursor: pointer;
    padding: 5px 10px;
    display: flex;
    align-items: center;
}

.banner-section:hover {
    background-color: #EB43A3;
}

body {
    margin: 0;
    padding: 0;
    background-image: url('background.png'); 
    background-size: 10%;
}

.content {
    color: #C55394;
    font-family: 'Courgette', cursive;
    padding: 20;
    margin: 20px auto;
    max-width: 800px;
    text-align: center;
}

.rainbow-image{
    width: 50%;
}

.content-box {
    background-color: white;
    padding: 20px;
    margin: 20px auto;
    width: 900px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.content-title {
    color: #EB43A3;
    font-family: 'Courgette', cursive;
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    text-align: left;
}

.content p {
    text-align: left;
    text-indent: 0;
    margin-left: 20px;
    font-family: Arial, sans-serif;
    color: #333;
    
}

.image-grid {
    display: flex;
    justify-content: center;
}

.image-container {
    position: relative;
    margin: 10px;
    width: 200px;
}

.image-container img,
.image-caption {
    width: 100%;
    display: block;
}

.image-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    padding: 5px;
    font-family: Arial, sans-serif;
}

.map-section {
    display: flex;
    align-items: flex-start;
}

.map {
    height: 50%;
}

.address {
    padding-left: 10px;
}

.newsletter-form {
    display: flex;
}

.newsletter-form input[type="email"],
.newsletter-form button {
    margin-bottom: 10px;
}

.submit-button {
    background-color: #C55394;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.submit-button:hover{
    background-color: #EB43A3;
}

.footer {
    background-color: #E577B5;
    height: 100px;
    width: 100%;
}