body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-image: url('background.png'); 
    background-size: 10%;
}

.banner {
    background-color: #C55394;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.banner-title {
    color: #fff;
    margin: 1%;
    font-family: 'Courgette', cursive;
}

.banner-sections {
    display: flex;
    flex-direction: row;
}

.banner-section {
    color: white;
    font-family: Arial, sans-serif;
    cursor: pointer;
    padding: 5px 10px;
    display: flex;
    align-items: center;
}

.banner-section:hover {
    background-color: #EB43A3;
}

.content-title {
    color: #C55394;
    font-family: 'Courgette', cursive;
    text-align: center;
}

.rainbow-container {
    display: flex;
    justify-content: center; 
}

.rainbow-image {
    height: 10%;
    width: 20%;
}

.content-box {
    background-color: white;
    padding: 20px;
    margin: 20px auto;
    width: 900px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.content-section {
    color: #EB43A3;
    font-family: 'Courgette', cursive;
    text-align: left;
}

.content p {
    margin-left: 2%;
    font-family: Arial, sans-serif;
    color: #333;
    
}

.image-grid {
    display: flex;
    justify-content: flex-start;
}

.image-container {
    margin : 1%;
}

.image-container img,
.image-caption {
    width: 100%;
    display: block;
}

.image-caption {
    width: 95%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    padding: 5px;
    font-family: Arial, sans-serif;
}

.map-section {
    display: flex;
}

.map {
    width: 100%;
}

.newsletter-form {
    display: flex;
}

.submit-button {
    background-color: #C55394;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.submit-button:hover{
    background-color: #EB43A3;
}

.footer {
    bottom: 0;
    background-color: #E577B5;
    height: 10%;
    width: 100%;
}